Production/Test/OrdersAPITests/Service References/CommonServicesAPI/CommonServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CustomerManagement.CRMBusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CustomerManagement.CRMBusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBusinessActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessActivity" nillable="true" type="tns:BusinessActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessActivity" nillable="true" type="tns:ArrayOfBusinessActivity" />
  <xs:complexType name="BusinessActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Activity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessActivityID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessActivity" nillable="true" type="tns:BusinessActivity" />
  <xs:complexType name="ArrayOfBusinessType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessType" nillable="true" type="tns:BusinessType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessType" nillable="true" type="tns:ArrayOfBusinessType" />
  <xs:complexType name="BusinessType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BusinessTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessType" nillable="true" type="tns:BusinessType" />
</xs:schema>