Dev/Business/MarketManagement/UtilityManagement/Service References/DataSynchronizationServiceReference/DataSynchronization1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Synchronize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="utilityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="profile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceClass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billingCycle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="icap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tcap" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SynchronizeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeFromScrapers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="utilityCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeFromScrapersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SynchronizeFromScrapersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>