Dev/Test/OnlineEnrollment.Integration/Service References/TestingService/CRMTesting76.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CommonBusiness.SecurityManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CommonBusiness.SecurityManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devordersapi.libertypowercorp.com/CRMTesting.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://devordersapi.libertypowercorp.com/CRMTesting.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="createdBy" type="xs:int" />
      <xs:element name="dateCreated" type="xs:dateTime" />
      <xs:element name="dateModified" type="xs:dateTime" />
      <xs:element name="email" nillable="true" type="xs:string" />
      <xs:element name="firstName" nillable="true" type="xs:string" />
      <xs:element name="lastName" nillable="true" type="xs:string" />
      <xs:element name="legacyID" type="xs:int" />
      <xs:element name="listOfActivites" nillable="true" type="tns:ArrayOfActivity" />
      <xs:element name="listOfRoles" nillable="true" type="tns:ArrayOfRole" />
      <xs:element name="modifiedBy" type="xs:int" />
      <xs:element name="password" nillable="true" type="xs:string" />
      <xs:element name="userGuid" nillable="true" type="xs:string" />
      <xs:element name="userID" type="xs:int" />
      <xs:element name="userImage" nillable="true" type="xs:string" />
      <xs:element name="userName" nillable="true" type="xs:string" />
      <xs:element name="userType" type="tns:TypeofUser" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="validationMessages" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Activity" nillable="true" type="tns:Activity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivity" nillable="true" type="tns:ArrayOfActivity" />
  <xs:complexType name="Activity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivityKey" type="xs:int" />
      <xs:element minOccurs="0" name="AppKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Activity" nillable="true" type="tns:Activity" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivitiesOfRole" nillable="true" type="tns:ArrayOfActivity" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:simpleType name="TypeofUser">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INTERNAL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EXTERNAL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TypeofUser" nillable="true" type="tns:TypeofUser" />
</xs:schema>