Main/UtilityManagement/UtilityManagmentService.Tests/Service References/UtiltyManagementService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/UtilityManagementServiceData" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUtilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUtilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UtilityManagementServiceData" minOccurs="0" name="GetAllUtilitiesResult" nillable="true" type="q1:GetAllUtilitiesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUtilitiesNoTrace">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUtilitiesNoTraceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UtilityManagementServiceData" minOccurs="0" name="GetAllUtilitiesNoTraceResult" nillable="true" type="q2:GetAllUtilitiesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRequestModeEnrollmentTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRequestModeEnrollmentTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UtilityManagementServiceData" minOccurs="0" name="GetAllRequestModeEnrollmentTypesResult" nillable="true" type="q3:GetAllRequestModeEnrollmentTypesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRequestModeEnrollmentTypesNoTrace">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRequestModeEnrollmentTypesNoTraceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UtilityManagementServiceData" minOccurs="0" name="GetAllRequestModeEnrollmentTypesNoTraceResult" nillable="true" type="q4:GetAllRequestModeEnrollmentTypesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricalUsageRequestModes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UtilityManagementServiceData" minOccurs="0" name="getHistoricalUsageRequestModeRequest" nillable="true" type="q5:GetHistoricalUsageRequestModesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricalUsageRequestModesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UtilityManagementServiceData" minOccurs="0" name="GetHistoricalUsageRequestModesResult" nillable="true" type="q6:GetHistoricalUsageRequestModeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIcapRequestModes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UtilityManagementServiceData" minOccurs="0" name="getIcapRequestModesRequest" nillable="true" type="q7:GetIcapRequestModesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIcapRequestModesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UtilityManagementServiceData" minOccurs="0" name="GetIcapRequestModesResult" nillable="true" type="q8:GetIcapRequestModeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdrRequestModes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UtilityManagementServiceData" minOccurs="0" name="getIdrRequestModesRequest" nillable="true" type="q9:GetIdrRequestModesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdrRequestModesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UtilityManagementServiceData" minOccurs="0" name="GetIdrRequestModesResult" nillable="true" type="q10:GetIdrRequestModeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseOfReceivables">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UtilityManagementServiceData" minOccurs="0" name="getPurchaseOfReceivablesRequest" nillable="true" type="q11:GetPurchaseOfReceivablesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseOfReceivablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UtilityManagementServiceData" minOccurs="0" name="GetPurchaseOfReceivablesResult" nillable="true" type="q12:GetPurchaseOfReceivablesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>