Main/Services/IstaService/Web References/RequestService/Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CustomerServices.Entities.DTO.MissingRate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CustomerServices.Entities.DTO.MissingRate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MissingRateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdHocChargeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdHocChargeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdHocCharges" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdderPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommodityPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalRatingToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PricePlan" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MissingRateDTO" nillable="true" type="tns:MissingRateDTO" />
  <xs:complexType name="ArrayOfMissingRateResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MissingRateResponseDTO" nillable="true" type="tns:MissingRateResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMissingRateResponseDTO" nillable="true" type="tns:ArrayOfMissingRateResponseDTO" />
  <xs:complexType name="MissingRateResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalRatingToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MissingRateResponseDTO" nillable="true" type="tns:MissingRateResponseDTO" />
</xs:schema>