Production/Services/IstaService/Web References/IstaInvoiceService/InvoiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://ws.libertypowerbilling.com/InvoiceService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://ws.libertypowerbilling.com/InvoiceService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://ws.libertypowerbilling.com/InvoiceService">
      <s:element name="CreateETFSpecialCharge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ETFSpecialChargeList" type="tns:ArrayOfETFSpecialCharge" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfETFSpecialCharge">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ETFSpecialCharge" nillable="true" type="tns:ETFSpecialCharge" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETFSpecialCharge">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ESIID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DoNotPrint" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateETFSpecialChargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ETFSpecialChargeList" type="tns:ArrayOfETFSpecialCharge" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateETFSpecialChargeSoapIn">
    <wsdl:part name="parameters" element="tns:CreateETFSpecialCharge" />
  </wsdl:message>
  <wsdl:message name="CreateETFSpecialChargeSoapOut">
    <wsdl:part name="parameters" element="tns:CreateETFSpecialChargeResponse" />
  </wsdl:message>
  <wsdl:portType name="InvoiceServiceSoap">
    <wsdl:operation name="CreateETFSpecialCharge">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create Early Termination Fee / Adjustment (ETF) special charge invoice(s)</wsdl:documentation>
      <wsdl:input message="tns:CreateETFSpecialChargeSoapIn" />
      <wsdl:output message="tns:CreateETFSpecialChargeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvoiceServiceSoap" type="tns:InvoiceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateETFSpecialCharge">
      <soap:operation soapAction="https://ws.libertypowerbilling.com/InvoiceService/CreateETFSpecialCharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InvoiceServiceSoap12" type="tns:InvoiceServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateETFSpecialCharge">
      <soap12:operation soapAction="https://ws.libertypowerbilling.com/InvoiceService/CreateETFSpecialCharge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvoiceService">
    <wsdl:port name="InvoiceServiceSoap" binding="tns:InvoiceServiceSoap">
      <soap:address location="http://uat.ws.libertypowerbilling.com/InvoiceService.asmx" />
    </wsdl:port>
    <wsdl:port name="InvoiceServiceSoap12" binding="tns:InvoiceServiceSoap12">
      <soap12:address location="http://uat.ws.libertypowerbilling.com/InvoiceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>