Dev/Test/OrdersAPITests/Service References/ChannelManagementAPI/ChannelManagementService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57373/ChannelManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRMWebServices" />
  <xs:import schemaLocation="http://localhost:57373/ChannelManagementService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:57373/ChannelManagementService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CRMWebServices.WSEntities" />
  <xs:import schemaLocation="http://localhost:57373/ChannelManagementService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CustomerManagement.TabletBusinessObjects" />
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesChannelUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesChannelUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRMWebServices" minOccurs="0" name="GetSalesChannelUserResult" nillable="true" type="q1:WSSalesChannelUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveSalesChannels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveSalesChannelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CRMWebServices" minOccurs="0" name="GetActiveSalesChannelsResult" nillable="true" type="q2:ArrayOfWSSalesChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesChannelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesChannelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesChannelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CRMWebServices" minOccurs="0" name="GetSalesChannelByIdResult" nillable="true" type="q3:WSSalesChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesChannelSupportEmailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="fromEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesChannelSupportEmailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSalesChannelSupportEmailListResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesChannelUsersByDeviceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesChannelUsersByDeviceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CRMWebServices" minOccurs="0" name="GetSalesChannelUsersByDeviceIDResult" nillable="true" type="q5:ArrayOfWSSalesChannelUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesChannelDetailsByDeviceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesChannelDetailsByDeviceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CRMWebServices.WSEntities" minOccurs="0" name="GetSalesChannelDetailsByDeviceIDResult" nillable="true" type="q6:WSSalesChannelApplicationKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTabletCacheDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
        <xs:element minOccurs="0" name="CacheItem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTabletCacheDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CustomerManagement.TabletBusinessObjects" minOccurs="0" name="GetTabletCacheDetailsResult" nillable="true" type="q7:TabletDataCache" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>