Dev/Business/MarketManagement/EdiParser/FileParser/Service References/DataSynchronizationServiceReference/DataSynchronization1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataSynchronization" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:88/DataSynchronization.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:88/DataSynchronization.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataSynchronization_Synchronize_InputMessage">
    <wsdl:part name="parameters" element="tns:Synchronize" />
  </wsdl:message>
  <wsdl:message name="IDataSynchronization_Synchronize_OutputMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeResponse" />
  </wsdl:message>
  <wsdl:message name="IDataSynchronization_SynchronizeFromScrapers_InputMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeFromScrapers" />
  </wsdl:message>
  <wsdl:message name="IDataSynchronization_SynchronizeFromScrapers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeFromScrapersResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataSynchronization">
    <wsdl:operation name="Synchronize">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataSynchronization/Synchronize" message="tns:IDataSynchronization_Synchronize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataSynchronization/SynchronizeResponse" message="tns:IDataSynchronization_Synchronize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SynchronizeFromScrapers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataSynchronization/SynchronizeFromScrapers" message="tns:IDataSynchronization_SynchronizeFromScrapers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataSynchronization/SynchronizeFromScrapersResponse" message="tns:IDataSynchronization_SynchronizeFromScrapers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataSynchronization" type="tns:IDataSynchronization">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Synchronize">
      <soap:operation soapAction="http://tempuri.org/IDataSynchronization/Synchronize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchronizeFromScrapers">
      <soap:operation soapAction="http://tempuri.org/IDataSynchronization/SynchronizeFromScrapers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataSynchronization">
    <wsdl:port name="BasicHttpBinding_IDataSynchronization" binding="tns:BasicHttpBinding_IDataSynchronization">
      <soap:address location="http://localhost:88/DataSynchronization.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>