Main/Test/OrdersAPITests/Service References/DocumentServiceAPI/DocumentService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CRMWebServices.WSEntities.Documents" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRMWebServices.WSEntities.Documents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WSContractFileDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSContractFileDetails" nillable="true" type="tns:WSContractFileDetails" />
</xs:schema>