Production/Test/OrdersAPITests/Service References/ChannelManagementAPI/ChannelManagementService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CRMWebServices.WSEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRMWebServices.WSEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57373/ChannelManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:57373/ChannelManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRMWebServices" />
  <xs:complexType name="WSSalesChannelApplicationKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractSubmissionKey" type="ser:guid" />
      <xs:element minOccurs="0" name="IsDeviceActive" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRMWebServices" minOccurs="0" name="SalesChannel" nillable="true" type="q1:WSSalesChannel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSSalesChannelApplicationKey" nillable="true" type="tns:WSSalesChannelApplicationKey" />
</xs:schema>