Main/Applications/SMUC Tool/SMUC Tool/Service References/UsageServiceWcf/Usage2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55169/Usage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" />
  <xs:element name="GetUsageDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" minOccurs="0" name="usageDateRequest" nillable="true" type="q1:UsageDateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsageDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsageDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdrUsageDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" minOccurs="0" name="idrUsageDateRequest" nillable="true" type="q2:IdrUsageDateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdrUsageDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" minOccurs="0" name="GetIdrUsageDateResult" nillable="true" type="q3:UsageDateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsageDateV1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" minOccurs="0" name="usageDateRequestV1" nillable="true" type="q4:UsageDateRequestV1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsageDateV1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" minOccurs="0" name="GetUsageDateV1Result" nillable="true" type="q5:UsageDateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitHistoricalUsageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" minOccurs="0" name="ediUsageRequest" nillable="true" type="q6:EdiUsageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitHistoricalUsageRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitHistoricalUsageRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunScraper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" minOccurs="0" name="scraperUsageRequest" nillable="true" type="q7:ScraperUsageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunScraperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunScraperResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunScraperWithInstantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" minOccurs="0" name="scraperUsageRequest" nillable="true" type="q8:ScraperUsageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunScraperWithInstantResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" minOccurs="0" name="RunScraperWithInstantResponseResult" nillable="true" type="q9:ScraperUsageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnualUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" minOccurs="0" name="annualUsageRequest" nillable="true" type="q10:AnnualUsageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnualUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAnnualUsageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnualUsageBulk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" minOccurs="0" name="usageAccountList" nillable="true" type="q11:ArrayOfUsageAccountRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnualUsageBulkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" minOccurs="0" name="GetAnnualUsageBulkResult" nillable="true" type="q12:AnnualUsageBulkResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsIdrEligible">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UsageWebService.Entities" minOccurs="0" name="isIdrEligibleRequest" nillable="true" type="q13:IsIdrEligibleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsIdrEligibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsIdrEligibleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsServiceRunning">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsServiceRunningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsServiceRunningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Version">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>