Dev/Test/OrdersAPITests/Service References/CRMService/CRMService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CRMWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRMWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61878/CRMService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="WSResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSResult" nillable="true" type="tns:WSResult" />
  <xs:complexType name="ArrayOfWSAccountType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WSAccountType" nillable="true" type="tns:WSAccountType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWSAccountType" nillable="true" type="tns:ArrayOfWSAccountType" />
  <xs:complexType name="WSAccountType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSAccountType" nillable="true" type="tns:WSAccountType" />
</xs:schema>