Dev/Test/OrdersAPITests/Service References/CRMService/CRMService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CustomerManagement.CRMBusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CustomerManagement.CRMBusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBusinessType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessType" nillable="true" type="tns:BusinessType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessType" nillable="true" type="tns:ArrayOfBusinessType" />
  <xs:complexType name="BusinessType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BusinessTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessType" nillable="true" type="tns:BusinessType" />
  <xs:complexType name="ArrayOfBusinessActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessActivity" nillable="true" type="tns:BusinessActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessActivity" nillable="true" type="tns:ArrayOfBusinessActivity" />
  <xs:complexType name="BusinessActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Activity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessActivityID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessActivity" nillable="true" type="tns:BusinessActivity" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessActivityId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BusinessTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="tns:Contact" />
      <xs:element minOccurs="0" name="CustomerAddress" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dba" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duns" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preferences" nillable="true" type="tns:CustomerPreference" />
      <xs:element minOccurs="0" name="SsnClear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="CustomerPreference">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerContactPreferenceId" type="xs:int" />
      <xs:element minOccurs="0" name="IsGoGreen" type="xs:boolean" />
      <xs:element minOccurs="0" name="LanguageId" type="xs:int" />
      <xs:element minOccurs="0" name="OptOutSpecialOffers" type="xs:boolean" />
      <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerPreference" nillable="true" type="tns:CustomerPreference" />
</xs:schema>