Production/Services/UsageWindowsService/Service References/CrmDataRequestService/DataRequest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataRequest" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://online.libertypowercorp.com:7000/DataRequest.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://online.libertypowercorp.com:7000/DataRequest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataRequest_AiComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:AiComplete" />
  </wsdl:message>
  <wsdl:message name="IDataRequest_AiComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:AiCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDataRequest_AiResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:AiResponse" />
  </wsdl:message>
  <wsdl:message name="IDataRequest_AiResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AiResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IDataRequest_HuComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:HuComplete" />
  </wsdl:message>
  <wsdl:message name="IDataRequest_HuComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:HuCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDataRequest_HuResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:HuResponse" />
  </wsdl:message>
  <wsdl:message name="IDataRequest_HuResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:HuResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IDataRequest_IdrComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:IdrComplete" />
  </wsdl:message>
  <wsdl:message name="IDataRequest_IdrComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:IdrCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDataRequest_IdrResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:IdrResponse" />
  </wsdl:message>
  <wsdl:message name="IDataRequest_IdrResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:IdrResponseResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataRequest">
    <wsdl:operation name="AiComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataRequest/AiComplete" message="tns:IDataRequest_AiComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataRequest/AiCompleteResponse" message="tns:IDataRequest_AiComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AiResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataRequest/AiResponse" message="tns:IDataRequest_AiResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataRequest/AiResponseResponse" message="tns:IDataRequest_AiResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HuComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataRequest/HuComplete" message="tns:IDataRequest_HuComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataRequest/HuCompleteResponse" message="tns:IDataRequest_HuComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HuResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataRequest/HuResponse" message="tns:IDataRequest_HuResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataRequest/HuResponseResponse" message="tns:IDataRequest_HuResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IdrComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataRequest/IdrComplete" message="tns:IDataRequest_IdrComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataRequest/IdrCompleteResponse" message="tns:IDataRequest_IdrComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IdrResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataRequest/IdrResponse" message="tns:IDataRequest_IdrResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataRequest/IdrResponseResponse" message="tns:IDataRequest_IdrResponse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataRequest" type="tns:IDataRequest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AiComplete">
      <soap:operation soapAction="http://tempuri.org/IDataRequest/AiComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AiResponse">
      <soap:operation soapAction="http://tempuri.org/IDataRequest/AiResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HuComplete">
      <soap:operation soapAction="http://tempuri.org/IDataRequest/HuComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HuResponse">
      <soap:operation soapAction="http://tempuri.org/IDataRequest/HuResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdrComplete">
      <soap:operation soapAction="http://tempuri.org/IDataRequest/IdrComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdrResponse">
      <soap:operation soapAction="http://tempuri.org/IDataRequest/IdrResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataRequest">
    <wsdl:port name="BasicHttpBinding_IDataRequest" binding="tns:BasicHttpBinding_IDataRequest">
      <soap:address location="http://online.libertypowercorp.com:7000/DataRequest.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>