Main/Business/CustomerManagement/AccountManagement/Service References/RateServiceWCF/RateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53446/RateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RateService" />
  <xs:element name="UpdateCustomerRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RateService" minOccurs="0" name="customerRate" nillable="true" type="q1:CustomerRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerRateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>