Main/Test/OrdersAPITests/Service References/PricingServiceAPI/PricingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CustomerAcquisition.ProductManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CustomerAcquisition.ProductManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductBrand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductBrand" nillable="true" type="tns:ProductBrand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductBrand" nillable="true" type="tns:ArrayOfProductBrand" />
  <xs:complexType name="ProductBrand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Product">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductIdentity" type="xs:int" />
          <xs:element minOccurs="0" name="ProductTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductBrand" nillable="true" type="tns:ProductBrand" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" type="tns:ProductCategory" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsMultiTerm" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductBrandID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:simpleType name="ProductCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fixed" />
      <xs:enumeration value="Variable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProductCategory" nillable="true" type="tns:ProductCategory" />
</xs:schema>