Main/Test/OrdersAPITests/Service References/CRMService/CRMService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61878/CRMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CustomerManagement.CRMBusinessObjects" />
  <xs:import schemaLocation="http://localhost:61878/CRMService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CRMWebServices" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CustomerManagement.CRMBusinessObjects" minOccurs="0" name="GetBusinessTypesResult" nillable="true" type="q1:ArrayOfBusinessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessActivities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CustomerManagement.CRMBusinessObjects" minOccurs="0" name="GetBusinessActivitiesResult" nillable="true" type="q2:ArrayOfBusinessActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAccountNumberInSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="utilityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAccountNumberInSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CRMWebServices" minOccurs="0" name="IsAccountNumberInSystemResult" nillable="true" type="q3:WSResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAccountNumberValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="utilityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAccountNumberValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CRMWebServices" minOccurs="0" name="IsAccountNumberValidResult" nillable="true" type="q4:WSResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CRMWebServices" minOccurs="0" name="GetAccountTypesResult" nillable="true" type="q5:ArrayOfWSAccountType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LibertyPower.Business.CustomerManagement.CRMBusinessObjects" minOccurs="0" name="GetCustomerByIdResult" nillable="true" type="q6:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountContractVariableRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountID" type="xs:int" />
        <xs:element minOccurs="0" name="contractID" type="xs:int" />
        <xs:element minOccurs="0" name="term" type="xs:int" />
        <xs:element minOccurs="0" name="rateStartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="rateEndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="rate" type="xs:double" />
        <xs:element minOccurs="0" name="legacyProductID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creatingUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountContractVariableRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CRMWebServices" minOccurs="0" name="AddAccountContractVariableRateResult" nillable="true" type="q7:WSResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAccountComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAccountCommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserIdByUsernameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>