Production/Test/OrdersAPITests/Service References/DocumentServiceAPI/DocumentService23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DocumentRepository.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DocumentRepository.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>